name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          cat >>~/.ssh/config <<END
          Host ec2
            HostName ${{ secrets.EC2_HOST }}
            User ubuntu
            IdentityFile ~/.ssh/deploy_key
            StrictHostKeyChecking no
          END

      - name: Deploy to EC2
        run: |
          ssh ec2 '
            if [ ! -d ~/cloud-ecommerce-api/.git ]; then
              rm -rf ~/cloud-ecommerce-api && \
              git clone https://github.com/BarShuv/cloud-ecommerce-api.git ~/cloud-ecommerce-api;
            fi && \
            cd ~/cloud-ecommerce-api && \
            git pull origin main && \
            echo "API_KEY=${{ secrets.PROD_API_KEY }}" > .env && \
            docker-compose down && \
            docker-compose up -d
          ' 